/* General styles */
body {
  color: aliceblue;
  background-color: #3f3b41;
}

h1 {
  background-color: #778ac7;
}

p {
  background-color: rgb(111, 150, 168);
}

.important {
  background-color: black;
}

#interesting {
  background-color: beige;
}

/* Navbar styles */
.navbar ul {
  color: rgb(125, 19, 139);
  list-style-type: none;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  margin-bottom: 20px;
  background-color: #37527c;
  display: flex;
  justify-content: space-around;
}

.navbar ul li {
  margin: 10px;
}

.navbar ul li a {
  display: block;
  text-decoration: none;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 12px 20px;
}

.navbar ul li a:hover {
  background-color: #000000;
  color: yellow;
}

/* Flexbox layout */
.content-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.content-item {
  width: 45%;
  padding: 20px;
  background-color: #f5f5f5;
}

.header-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: rgb(211, 211, 211);
}

.header-item {
  padding: 20px;
  text-align: center;
  border: 1px solid #000;
}

.header-item:nth-of-type(1) {
  width: 50%;
  background-color: rgb(255, 187, 0);
}

.nyc-img {
    width: 40%;
    height: auto;
    opacity: 50%;
}

.header-item:nth-of-type(2) {
  width: 50%;
  background-color: rgb(255, 251, 0);
}

.flex-item {
  background: rgb(255, 255, 255);
  color: black;
  font-weight: bold;
  text-align: center;
  padding: 20px;
  border: 1px solid #000;
}

/* Error styling for invalid inputs */
.error {
  border: 2px solid red;
  background-color: pink;
}

/* the modal that covers the background and prevents user interactions */
.modal {
  display: none; /* hides the modal from view by default*/
  position: fixed; /* keeps the modal in one place */
  z-index: 2; /* positions the modal on top of all other elements on the screen */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgba(0,0,0,0.4); /* 40% opacity black - other elements can still be seen */
  flex-direction: column; /* these flexbox rules center the content on the screen */
  align-items: center;
  justify-content: center;
}
.modal {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
.modal.active {
  opacity: 1;
  display: flex;
}


/* box that contains all the content and images */
.modal-content {
  background-color: lightsteelblue; /* update the colors and font sizes as you like */
  color: black;
  text-align: center;
  font-size: 3rem;
  display: flex; /* adds flexbox tao center all items */
  justify-content: center;
  align-items: center;
}

#thanks-modal-content {
  width: 20rem; /* sets a default width for the text container */
}

#modal-text-container {
  display: flex; /* adds flexbox to center the text and buttons (stretch feature) */
  flex-direction: column;
  align-items: center;
  justify-content: center;
}